body {
background-color: #228D8D;
}
#content {
width: 75%;
height: 250px;
margin: 0 auto;
}
#messagebox {
width: 75%;
height: 250px;
margin: 0 auto;
display: block;
box-shadow: 0px 0px 100px 40px rgb(0, 255, 224);
}

#mainheader {
margin: 0 auto;
display: block;
max-width: 800px;
width: 80%
}