html, body,{
	height: 100%;
	width: 100%;
}
body {
	margin: 0px;
}
#desktop {
	background-color: rgb(100, 212, 240);
	overflow: auto;
	position: absolute;
	bottom: 70px;
	width: 100%;
	height: -webkit-calc(100% - 70px);
	height: -moz-calc(100% - 70px);
	height: -o-calc(100% - 70px);
	height: calc(100% - 70px);
}

#iconBar {
	background-color: rgba(0, 0, 255, 0.44);
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0px;
	border-top: 2px black solid;
	z-index: 100;
	box-shadow: inset darkblue 0px -8px 75px -10px;
}

.aWindow{
	width: 245px;
	height: 290px;
	background-color: blue;
	position: absolute;
	float: left;
	border: black solid 3px;
	border-radius: 3px;
}
.topBar {
	width: 100%;
	height: 30px;
	background-color: rgba(20, 155, 189, 0.92);
	float: left;
	box-shadow: inset darkblue 0px 8px 25px -10px;
}
.bottomBar {
	width: 100%;
	height: 30px;
	background-color: rgba(20, 155, 189, 0.92);;
	float: left;
	box-shadow: inset darkblue 0px -8px 25px -10px;
}
.contentWrap {
	width: 100%;
	height: calc(100% - 60px);
	height: -moz-calc(100% - 60px);
	height: -webkit-calc(100% - 60px);
	height: -o-calc(100% - 60px);
	float: left;
}
.contentBox {
	overflow-y: scroll;
	width: 100%;
	height: calc(100% - 60px);
	height: -moz-calc(100% - 60px);
	height: -webkit-calc(100% - 60px);
	height: -o-calc(100% - 60px);
	position: absolute;
	margin-bottom: -55px;
	float: left;
	background-color: rgb(173, 173, 173);
}

.iconAndName {
	float: left;
}
.exitBpos {
	float: right;
}

.aWindow .topBar .iconAndName img {
width: 25px;
height: 25px;
padding: 3px 5px 0px 5px;
}
.iconAndName p {
	position: absolute;
	display: block;
	top: -7px;
	margin-left: 35px;
	font-family: sans-serif;
}

.contentBox img {
	display: block;
	margin: 0 auto;
}

.box {
	float: left;
	margin: 5px;
	padding: 5px;
	background-color: rgb(114, 156, 180);;
	border-radius: 3px;	
}

.icon {
	width: 70px;
	}

.icon img {
	width: 50px;
	padding: 5px;
	background-color: rgb(130, 130, 240);
	border-radius: 6px;
	margin: 5px;
	box-shadow: inset rgb(0, 0, 0) 0px 0px 50px 0px, white 0px 0px 1px 1px;
}

.loaderIcon {
	background-image: url("../pics/ajax-loader.gif");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 10px 7px;	
	}
.loaderIcon:after{
	content: attr(text);
	font-size: 17px;
	font-family: sans-serif;
	position: relative;
	left: 30px;
	top: 8px;
	}

.selectTextOff{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
