html, body, #desktop{
	height: 100%;
	width: 100%;
}
body {
margin: 0px;
}
#desktop {
	background-color: red;
}

#iconBar {
background-color: rgba(0, 0, 255, 0.44);
width: 100%;
height: 70px;
position: absolute;
bottom: 0px;
border-top: 2px black solid;
}

.aWindow{
	width: 245px;
	height: 290px;
	background-color: blue;
}
